#### ‚ùáÔ∏è Iterrows ü§ú ü§õ  Itertuples

In [2]:
import pandas as pd

In [9]:
# Reading from a csv
worldbank_pop = pd.read_csv('./data/WorldBank_POP.csv')
worldbank_pop.columns
worldbank_pop[worldbank_pop['Country Code'].isin(['IND'])]
worldbank_pop_ind = worldbank_pop.loc[worldbank_pop['Country Code'].isin(['IND']) ]
worldbank_pop_ind.head()

     Country Name Country Code     Indicator Name  Year           Pop
107         India          IND  Population, total  2010  1.234281e+09
371         India          IND  Population, total  2011  1.250289e+09
635         India          IND  Population, total  2012  1.265783e+09
899         India          IND  Population, total  2012  1.265783e+09
1163        India          IND  Population, total  2013  1.280846e+09

In [3]:
%%time
# üî¥ iterrows: Iterate over DataFrame rows as (index, Series) pairs.
index_series_pairs = [tup for tup in df_penguins.iterrows()]
idx, series = index_series_pairs[0]
print(idx)
print('_______________________________')
print(series)
print('__________time taken___________')

0
_______________________________
species                 Adelie
island               Torgersen
bill_length_mm            39.1
bill_depth_mm             18.7
flipper_length_mm        181.0
body_mass_g             3750.0
sex                       Male
Name: 0, dtype: object
__________time taken___________
CPU times: user 12.6 ms, sys: 1.29 ms, total: 13.9 ms
Wall time: 16 ms

In [4]:
%%time
# üü° itertuples: Iterate over DataFrame rows as namedtuples.
# Wondering what a namedtuple is‚ùì I have added a tweetüëá in the thread üßµ , don't worry üôå
named_tuples = [tup for tup in df_penguins.itertuples()]
print(named_tuples[0])
print('__________time taken___________')

Pandas(Index=0, species='Adelie', island='Torgersen', bill_length_mm=39.1, bill_depth_mm=18.7, flipper_length_mm=181.0, body_mass_g=3750.0, sex='Male')
__________time taken___________
CPU times: user 1.36 ms, sys: 341 ¬µs, total: 1.7 ms
Wall time: 1.48 ms

#### ‚ùáÔ∏è Concluding remarks üëá 
##### Although, it's an anti pattern to iterate over dataframe rows in this manner
##### (We will see better techniques in future post, stay tuned!)
##### üëâ But, given the choice itertuples is way fater üèéüí® than iterrows because iterrows has to typecast each
##### row into a pandas Series, which is an overhead.
#### ‚ùáÔ∏è Cheers!! üçª